---
import pkg from '../../package.json' assert { type: 'json' };
// import { url } from '../lib/data.js';

import { SITE_TITLE } from '../lib/constants.js';

const { class: clazz } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{SITE_TITLE} — v{pkg.version}</title>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pkg.description} />
		<meta name="" content={pkg.description} />
		<link rel="icon" type="image/png" href="/assets/icon.png" />
		<!-- <link
			rel="sitemap"
			type="application/xml"
			href={url('sitemap-index.xml')}
		/> -->

		<meta
			name="author"
			content="sredsol, shsarma"
		/>
		<meta name="copyright" content="MIT" />

		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
		<script  is:inline defer src="https://tracking.sredsol.com/script.js" data-website-id="0a69bc0f-6ba5-4884-b2d8-34b65aae7010"></script>
		<script is:inline>
  window.chatwootSettings = {"position":"left","type":"standard","launcherTitle":"Chat with us"};
  (function(d,t) {
    var BASE_URL="https://chat-server.sredsol.com";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=BASE_URL+"/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g,s);
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: '19jD57GAKN5Th4o4rixEFy4H',
        baseUrl: BASE_URL
      })
    }
  })(document,"script");
</script>

	</head>
	<body
		class:list={[
			//
			clazz,
			'bg-gray-50 dark:bg-gray-800',
			'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
		]}
	>
		<slot />
	</body>
</html>

<script>
	import 'flowbite';
	// import 'flowbite/dist/datepicker.js';
</script>

<style is:global>
	@import url('/assets/fonts/inter.css');
</style>
